Flask[async]
requests
aiohttp
googleapis-common-protos
pycryptodome
protobuf
Werkzeug
gunicorn
Flask==2.3.3
pycryptodome==3.19.0
protobuf==4.24.4
aiohttp==3.8.6
requests==2.31.0
PyJWT==2.8.0
upstash-redis==0.23.0